.login-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 450px) {
    .login-frm {
        width: 100%;
    }
}

@media (min-width: 450px) {
    .login-frm {
        width: 50%;
    }
}

.login-frm {
    padding: 30px;
}

.login-data {
    margin-top: 10px;
}

.login-check {
    display: flex;
    gap: 30px;
}

.login-btn {
    width: 100%;
}